@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 25vw);
  grid-template-rows: repeat(3, 25vw);
  gap: 1rem;
}

.cell {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gamja Flower", sans-serif;
  font-size: 4.5rem;
  border: 3px solid rgb(255, 185, 176);
  border-radius: 1rem;
}
